.filter-card{
    -fx-background-color: #FFF;
    -fx-background-radius: 25px;
    -fx-effect: dropshadow(gaussian, gray, 10, 0.5, 0.5, 0.5);
}

.transparent-button {
    -fx-background-color: transparent;
}

.filter-card-top{
    -fx-background-color: #001C44;
}
.filter-card-filter-button{
    -fx-background-color: #C957BC;
    -fx-background-radius: 20;
    -fx-text-fill: white;
}

.mfx-date-picker .date-picker-popup{
    -fx-pref-width: 300px;
    -fx-pref-height: 300px;
}

.mfx-date-picker .date-picker-popup .content {
    -fx-background-color: #FAF9F6;
    -fx-opacity: 1;
    -fx-pref-width: 300px;
    -fx-pref-height: 300px;
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0, 0, 2);
}

.mfx-date-picker .date-picker-popup .mfx-date-cell{
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-border-radius: 3px;
}

.mfx-date-picker .date-picker-popup .mfx-date-cell:hover {
    -fx-text-fill: #fff;
    -fx-background-color: #ff9999;
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0, 0, 2);
}


.mfx-date-picker .date-picker-popup .mfx-date-cell:selected {
    -fx-background-color: #ff6666;
    -fx-text-fill: #fff;
}

.mfx-text-field {
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-padding: 5px;

}

.mfx-text-field .text-field{
   -fx-background-color: transparent;
}

/*table views css */

.table-view {
    -fx-background-radius: 25px;
    -fx-background-color: white;
    -fx-padding: 5px;
    -fx-border-width: 2px;
    -fx-border-radius: 25px;
    -fx-border-color: #964EC2;
    -fx-effect: dropshadow(gaussian, lightblue, 10, 0.5, 0.5, 0.5);
    -fx-fixed-cell-size: 50px;
    -fx-font-family: "Lato";
    -fx-font-size: 16px;
    -fx-text-fill: #333333;

}
.column-header-background {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #964EC2;
}
.table-view .column-header{
    -fx-background-color: transparent;
}

.table-row-cell {
    -fx-cell-size: 50px;
    -fx-border-color: transparent transparent #dcdcdc transparent;
    -fx-border-width: 0 0 1px 0;
    -fx-border-style: solid;
}


.table-view .table-row-cell:filled:selected{
    -fx-background-color: lightblue;
}

.table-view .table-row-cell:odd {
    -fx-background-color: transparent; /* Xóa màu nền hàng lẻ */
}

.table-view .table-row-cell:even {
    -fx-background-color: transparent; /* Xóa màu nền hàng chẵn */
}

.table-row-cell:empty {
    -fx-border-color: transparent; /* Loại bỏ viền cho các hàng trống */
}

.table-view .scroll-bar:horizontal {
    -fx-opacity: 0; /* Ẩn thanh cuộn ngang */
    -fx-max-height: 0; /* Loại bỏ không gian chiếm chỗ */
}
.table-view .table-cell {
    -fx-alignment: center;
    -fx-padding: 5px;
}

.table-view .column-header {
    -fx-alignment: center;
    -fx-font-weight: bold;
}

.root {
    -fx-background-color: #fff;
    -fx-background-radius: 0 0 25 25;
    -fx-effect: dropshadow(gaussian, lightblue, 10, 0.5, 1, 1);
}
.search-bar{
    -fx-border-radius: 0px;
    -fx-text-alignment: Center;
    -fx-background-color: transparent;

}

.search-bar-container {
    -fx-border-width: 1px;
    -fx-border-radius: 25px;
    -fx-border-color: #964EC2;
}
.mfx-combo-box {
    -fx-border-width: 0 0 1px 0;
    -fx-border-radius: 0;
}