
.invoice_framework{
    -fx-background-color: #FFFFFF;
    -fx-border-color: transparent;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 20, 0.3, 0, 5);
}
.invoice_list_views{
    -fx-border-color: transparent;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 20, 0.3, 0, 5);
 }
.bill_views{
    -fx-background-radius: 20px;
    -fx-background-color: #FFF;
    -fx-border-width: 2px;

}
.bill_background{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}
.transparent{
    -fx-background-color: rgba(0,0,0,0);
}
.table-view {
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: black;
    -fx-border-width: 1px;
}
.search_invoice_code{
    -fx-background-radius: 20px;
    -fx-background-color: transparent;
    -fx-border-radius: 20px;
    -fx-border-color: #C1C1C1;
    -fx-cursor: text;
}
.search_button{
    -fx-background-color: transparent;
    -fx-background-radius: 100px;
    -fx-transition: transform 0.3s ease;
    -fx-cursor: hand;
}
.search_button:hover{
    -fx-background-color: transparent;
    -fx-background-radius: 100px;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}
.cancel_button{
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: rgba(255, 255, 255, 0.68);
    -fx-border-color: #0063EC;
    -fx-text-fill: #0063EC;
    -fx-transition: all 0.3s ease;
    -fx-cursor: hand;
}
.cancel_button:hover{
    -fx-background-color: #0063EC;
    -fx-text-fill: #FFFFFF;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}
.bill_button{
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: rgba(255, 255, 255, 0.68);
    -fx-border-color: #04bd1b;
    -fx-text-fill: #04bd1b;
    -fx-transition: all 0.3s ease;
    -fx-cursor: hand;
}
.pay_button:hover{
    -fx-background-color: #04bd1b;
    -fx-text-fill: #FFFFFF;
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}




.mfx-text-field {
    -fx-border-color: #ABABAB;
    -fx-border-width: 0 0 2px 0;

}

.mfx-text-field .text-field{
    -fx-border-width: 0px;
}
.tab-header-background {
    -fx-background-color: white;
}
.border-radius{
    -border-bottom-right-radius: 50px;
    -border-top-right-radius: 50px;
    -border-bottom-left-radius: 50px;
    -border-top-left-radius: 50px;
}
.tab-pane {

    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}
