.mfx-date-picker .date-picker-popup{
    -fx-pref-width: 300px;
    -fx-pref-height: 300px;
}

.mfx-date-picker .date-picker-popup .content {
    -fx-background-color: #FAF9F6;
    -fx-opacity: 1;
    -fx-pref-width: 300px;
    -fx-pref-height: 300px;
    -fx-background-radius: 30px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0, 0, 2);
}

.mfx-date-picker .date-picker-popup .mfx-date-cell{
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
    -fx-border-radius: 3px;
}

.mfx-date-picker .date-picker-popup .mfx-date-cell:hover {
    -fx-text-fill: #fff;
    -fx-background-color: #ff9999;
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0, 0, 2);
}


.mfx-date-picker .date-picker-popup .mfx-date-cell:selected {
    -fx-background-color: #ff6666;
    -fx-text-fill: #fff;
}